In [36]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [37]:
df=pd.read_csv("HR_Data.csv")

In [38]:
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [39]:
df.groupby('left').mean()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years
left,,,,,,,
0,0.666810,0.715473,3.786664,199.060203,3.380032,0.175009,0.026251
1,0.440098,0.718113,3.855503,207.419210,3.876505,0.047326,0.005321

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     14999 non-null  float64
 1   last_evaluation        14999 non-null  float64
 2   number_project         14999 non-null  int64
 3   average_montly_hours   14999 non-null  int64
 4   time_spend_company     14999 non-null  int64
 5   Work_accident          14999 non-null  int64
 6   left                   14999 non-null  int64
 7   promotion_last_5years  14999 non-null  int64
 8   Department             14999 non-null  object
 9   salary                 14999 non-null  object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

In [41]:
df.shape

(14999, 10)

In [42]:
left=df[df.left==1]
left.shape

(3571, 10)

In [43]:
retained=df[df.left==0]
retained.shape

(11428, 10)

In [44]:
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [45]:
subdf=df[['satisfaction_level','average_montly_hours','salary','promotion_last_5years']]

In [46]:
subdf.head()

   satisfaction_level  average_montly_hours  salary  promotion_last_5years
0                0.38                   157     low                      0
1                0.80                   262  medium                      0
2                0.11                   272  medium                      0
3                0.72                   223     low                      0
4                0.37                   159     low                      0

In [47]:
salary_dummies=pd.get_dummies(subdf.salary,prefix='salary')

In [48]:
df_with_dummies=pd.concat([subdf,salary_dummies],axis='columns')

In [49]:
df_with_dummies.head()

,satisfaction_level,average_montly_hours,salary,promotion_last_5years,salary_high,salary_low,salary_medium
0,0.38,157,low,0,0,1,0
1,0.80,262,medium,0,0,0,1
2,0.11,272,medium,0,0,0,1
3,0.72,223,low,0,0,1,0
4,0.37,159,low,0,0,1,0

In [50]:
df_with_dummies.drop(['salary','salary_medium'],inplace=True,axis='columns')

In [51]:
df_with_dummies.head()

,satisfaction_level,average_montly_hours,promotion_last_5years,salary_high,salary_low
0,0.38,157,0,0,1
1,0.80,262,0,0,0
2,0.11,272,0,0,0
3,0.72,223,0,0,1
4,0.37,159,0,0,1

In [52]:
X=df_with_dummies
y=df.left

In [53]:
        from sklearn.model_selection import train_test_split
        X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30)

In [54]:
print(X_train)
print(X_test)
print(y_train)
print(y_test)

       satisfaction_level  average_montly_hours  promotion_last_5years  \
13772                0.73                   245                      0
12156                0.83                   240                      0
14334                0.11                   300                      0
7125                 0.56                   256                      0
9583                 0.85                   153                      0
...                   ...                   ...                    ...
7394                 0.88                   205                      0
10766                0.72                   164                      0
12782                0.72                   245                      0
12051                0.44                   135                      0
12252                0.19                   192                      0

       salary_high  salary_low
13772            0           0
12156            0           1
14334            0           1
7125             0           1
9583             0           0
...            ...         ...
7394             0           1
10766            0           1
12782            0           1
12051            0           1
12252            0           1

[10499 rows x 5 columns]
       satisfaction_level  average_montly_hours  promotion_last_5years  \
8052                 0.64                   222                      0
2097                 0.94                   185                      0
13216                0.19                   280                      0
12884                0.63                   163                      0
6866                 0.89                   249                      0
...                   ...                   ...                    ...
9949                 0.89                   274                      0
4774                 0.41                   182                      0
10386                0.77                   154                      0
10275                0.72                   245                      0
11258                0.76                   169                      0

       salary_high  salary_low
8052             0           1
2097             0           0
13216            0           1
12884            1           0
6866             0           0
...            ...         ...
9949             0           1
4774             0           0
10386            0           1
10275            0           0
11258            0           0

[4500 rows x 5 columns]
13772    0
12156    1
14334    1
7125     0
9583     0
        ..
7394     0
10766    0
12782    1
12051    1
12252    1
Name: left, Length: 10499, dtype: int64
8052     0
2097     0
13216    0
12884    0
6866     0
        ..
9949     0
4774     0
10386    0
10275    0
11258    0
Name: left, Length: 4500, dtype: int64

In [55]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(10499, 5)
(4500, 5)
(10499,)
(4500,)

# LogisticRegression

In [56]:
from sklearn.linear_model import LogisticRegression

In [57]:
model=LogisticRegression()

In [58]:
model.fit(X_train,y_train)

LogisticRegression()

In [59]:
y_pred=model.predict(X_test)

In [60]:
model.score(X_test,y_test)

0.776

In [61]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [62]:
accuracy_score(y_pred,y_test)

0.776

In [63]:
classification_report(y_pred,y_test)

'              precision    recall  f1-score   support\n\n           0       0.93      0.81      0.86      3980\n           1       0.27      0.53      0.35       520\n\n    accuracy                           0.78      4500\n   macro avg       0.60      0.67      0.61      4500\nweighted avg       0.85      0.78      0.81      4500\n'

# Support Vector Machine

In [64]:
from sklearn.svm import SVC
svm=SVC(kernel='sigmoid')

In [65]:
svm.fit(X_train,y_train)

SVC(kernel='sigmoid')

In [66]:
y_pred=svm.predict(X_test)

In [67]:
accuracy_score(y_pred,y_test)*100

72.11111111111111

In [68]:
confusion_matrix(y_pred,y_test)

array([[2815,  612],
       [ 643,  430]], dtype=int64)

# Decision Tree

In [69]:
# Decision Tree
from sklearn.tree import DecisionTreeClassifier
dt_clf=DecisionTreeClassifier()
dt_clf.fit(X_train,y_train)

DecisionTreeClassifier()

In [70]:
y_pred=dt_clf.predict(X_test)
accuracy_score(y_pred,y_test)*100

93.31111111111112